<template>
  <div>
    <div class="header" />
    <div class="form">
      <div class="conent-wrap">
        <div class="content">
          <div class="title">
            {{ nextAge }}
            <div class="center">
              邀您 <span class="red">免费参观体验</span> 养老社区
            </div>
          </div>
          <Child :listMenu="listMenu" @menuClick="menuClick" />
          <div class="ask-online" @click="goToShowChat">
            <div class="img-link">
              <img src="../assets/online-icon.png" alt="" />
            </div>
          </div>
          <div class="username">
            <input
              v-model.trim="username"
              placeholder="请输入您的姓名"
              maxlength="10"
              class="input"
              type="text"
              :style="wrongName ? '' : 'margin-bottom:24px'"
              :class="focus === 'name' ? 'active' : ''"
              @focus="handleFocus(0)"
            />
            <span v-if="wrongName" class="wrong">*{{ nameText }}</span>
          </div>
          <div class="mobile">
            <input
              v-model="mobile"
              placeholder="请输入您的手机号"
              oninput="value=value.replace(/[^\d.]/g,'')"
              maxlength="11"
              class="input"
              type="text"
              :style="wrongMobile ? '' : 'margin-bottom:18px'"
              :class="focus === 'mobile' ? 'active' : ''"
              @focus="handleFocus(1)"
              @blur="handleBlur(1)"
            />
            <span
              v-if="wrongMobile"
              class="wrong"
              :style="
                wrongMobile
                  ? mobileStatus
                    ? 'margin-bottom:10px'
                    : 'margin-bottom:0px'
                  : ''
              "
              >*{{ mobileText }}</span
            >
          </div>
          <div
            v-if="mobileStatus"
            :style="wrongCode ? '' : 'margin-bottom:-10px'"
            class="code"
          >
            <div>
              <input
                v-model="code"
                class="input"
                type="number"
                placeholder="输入验证码"
                oninput="if(value.length>4)value=value.slice(0,4)"
                :style="wrongName ? '' : 'margin-bottom:20px'"
                :class="focus === 'code' ? 'active' : ''"
                @focus="handleFocus(2)"
                @blur="handleBlur(2)"
              />
              <span v-show="codeShow" class="codeBtn" @click="getCode"
                >获取验证码</span
              >
              <span v-show="!codeShow" class="codeBtn2">{{ count }} s</span>
            </div>
          </div>
          <span
            v-if="wrongCode"
            class="wrong"
            :style="wrongCode ? 'margin-bottom:0px;margin-top:-10px;' : ''"
            >*{{ codeText }}</span
          >
          <div class="btn-box">
            <div ref="liBtn" class="lj-Btn" @click="submitOrder">
              <input type="button" value="立即预约 免费参观" />
            </div>
            <div class="introduce">
              <div class="cover-top">
                <div class="top-agree">
                  "点击预约表示您已同意
                  <!--<router-link :to="{ name: 'serviceClause' }"
                    >《用户服务协议》</router-link
                  >
                  <router-link :to="{ name: 'agreement' }"
                    >《隐私条款》</router-link
                  >-->
                </div>
                <div v-if="hideBtn" class="click-more" @click="lookMore">
                  <div class="icon-more">
                    <img src="../assets/icon-more.png" alt="" />
                  </div>
                  <div class="txt-more">更多</div>
                </div>
              </div>
              <div v-if="showContent" class="cover-bottom">
                为满足您的预约要求，并为您提供更专业后续保险服务，我们
                将许可泰康人寿根据您在本页面填写的信息，通过400***5522
                向您致电。我们确保会严格按照<router-link
                  :to="{ name: 'serviceClause' }"
                  >《用户服务协议》</router-link
                >
                <router-link :to="{ name: 'agreement' }"
                  >《隐私条款》</router-link
                >进行上述信息处理活动"。
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pic-box">
        <div class="pic1">
          <img src="../assets/title.png" alt="" />
          <div class="pic1-content">
            <div class="cover-word">
              <div class="live-txt">住泰康，同时就是住了:</div>

              <div class="cover-city">
                <div
                  v-for="(item, index) in cityList"
                  :key="index"
                  class="city-item"
                >
                  {{ item }}<span class="comma">,</span>
                </div>
              </div>
            </div>

            <div class="cover-look">
              <!--<div class="look-left">
                <div class="left-img">
                  <img :src="leftPic.imgUrl" alt="" />
                </div>
                <div class="txt">{{ leftPic.cityName }}{{ leftPic.name }}</div>
              </div>-->
              <div class="look-right">
                <div
                  v-for="(i, index) in parkList"
                  :key="index"
                  class="right-item"
                >
                  <div class="right-img">
                    <img :src="i.imgUrl" alt="" />
                  </div>
                  <div class="txt">{{ i.cityName }}{{ i.name }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="p2">
            <div class="divBox">
              <div class="div">
                <div
                  v-for="(item, index) in interestList"
                  :key="index"
                  class="img-interest"
                >
                  <img :src="item.imgUrl" alt="" />
                  <div class="cover-img">
                    <div class="txt">
                      {{ item.cityName }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pic3" />
        <div class="pic4" />
        <div class="pic5" />
        <div class="pic6" />
        <div class="pic7" />
        <div class="pic8" />
        <div v-if="!isSimple" class="pic9" />
        <div v-if="!isSimple" class="pic10" />
      </div>
      <div v-if="btnController" class="ljyy-btn" @click="jump">
        立即预约 免费参观
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/api/index";
import { useRouter } from "vue-router";

import {
  onBeforeMount,
  onMounted,
  reactive,
  toRefs,
  ref,
  watchEffect,
  watch,
  computed,
} from "vue";
import Child from "../components/common/Child.vue";

export default {
  components: { Child },
  setup() {
    const router = useRouter();
    const $data = reactive({
      pointData: {
        // 埋点入参
        userId: "",
        mediaName: router.currentRoute.value.query.agreementCode
          ? router.currentRoute.value.query.agreementCode.split("_")[1]
          : "", // 媒体
        agent: router.currentRoute.value.query.channelInfo
          ? router.currentRoute.value.query.channelInfo.split("_")[0]
          : "", // 代理
        material: router.currentRoute.value.query.channelInfo
          ? router.currentRoute.value.query.channelInfo.split("_")[1]
          : "", // 账户
        // orderId: ""
      },
    });

    /**
     * 新增园区
     */
    let getParkAreaList = () => {
      api.question.getParkAreaInfo("110100").then((res) => {
        if (res.ok) {
          $data.cityList = res.data.city;
          $data.leftPic = res.data.nearParkArea;
          $data.parkList = res.data.extensionParkArea;
          $data.interestList = res.data.otherParkArea;
          $data.houseCount = res.data.city.length;
        }
      });
    };

    /**
     * 埋点
     */
    let buriedPointFn = () => {
      sessionStorage.removeItem("code");
      sessionStorage.removeItem("mobile");
      // 访问首页埋点
      $data.pointData.eventCode = "100";
      $data.pointData.eventName = "首页访问";
      $data.pointData.userId = $data.mobile;
      if ($data.pointData.userId === "") {
        delete $data.pointData.userId;
      }
      api.question.buriedPoint($data.pointData).then(() => {});
    };

    /**
     * 监听手机号
     */
    const mobile = ref("");
    const $watchData = reactive({
      isSendCode: true, // 是否主动发送验证码
    });
    const refData = toRefs($watchData);
    watch(
      mobile,
      (value) => {
        //console.log(1111, value);
        if (!$watchData.isSendCode) return;
        if (value.length === 11) {
          //console.log("2222");
          // submitOrder();
          $watchData.isSendCode = false;
        }
      },
      { immediate: true }
    );

    /**
     * 输入框聚焦
     */
    let $focus = ref("");
    let handleFocus = (val) => {
      stop();
      switch (val) {
        case 0: // 姓名聚焦
          $focus = "name";
          break;
        case 1: // 手机号聚焦
          $focus = "mobile";
          break;
        case 2: // 验证码聚焦
          $focus = "code";
          break;
      }
    };

    /**
     * 输入框失焦
     */

    let handleBlur = (val) => {
      switch (val) {
        case 1: // 手机号失焦
          if (mobile.value === sessionStorage.getItem("mobile")) return;
          sessionStorage.setItem("mobile", mobile.value);
          // 手机输入框输入埋点
          $data.pointData.eventCode = "101";
          $data.pointData.eventName = "手机输入框输入";
          $data.pointData.userId = mobile.value;
          $data.pointData.ext = JSON.stringify({ content: mobile.value });
          api.question.buriedPoint($data.pointData).then(() => {
            return;
          });
          break;
        case 2: // 验证码失焦
          // 验证码输入框输入埋点
          if ($data.code === sessionStorage.getItem("code")) return;
          sessionStorage.setItem("code", $data.code);
          $data.pointData.eventCode = "103";
          $data.pointData.eventName = "验证码输入框输入";
          $data.pointData.userId = mobile.value;
          $data.pointData.ext = JSON.stringify({ content: $data.code });
          api.question.buriedPoint($data.pointData).then(() => {
            return;
          });
          break;
      }
    };

    const nextAge = computed(() => {
      return mobile.value * 1 + 1;
    });

    //父组件给子组件Child 传递参数listMenu
    const listMenu = ref([
      { name: "晓红", age: 2 },
      { name: "小明", age: 3 },
    ]);
    //父组件接收子组件的传值 menuClick
    const menuClick = (val) => {
      console.log("menuClick", val);
    };

    onBeforeMount(() => {
      // beforeMount代码执行
    });
    onMounted(() => {
      // mounted代码执行
      $data.channelCode = router.currentRoute.value.query.channelCode;
      // 新增园区
      getParkAreaList();
      // 首页埋点
      buriedPointFn();
    });
    return {
      //$data,
      ...toRefs($data),
      $focus, //聚焦在哪个输入框
      getParkAreaList, // 新增园区
      buriedPointFn, // 首页埋点
      handleFocus, //输入框聚焦
      handleBlur,
      ...refData,
      mobile,
      // submitOrder, //订单提交
      nextAge,
      listMenu,
      menuClick,
    };
  },

  //       wrongName: false, // 校验姓名提示标记
  //       wrongMobile: false, // 校验手机号提示标记
  //       wrongCode: false, // 校验验证码提示标记
  //       nameText: "请输入正确的姓名",
  //       mobileText: "请输入正确的手机号",
  //       codeText: "请输入正确的验证码",
  //       username: "",
  //       mobile: "",
  //       code: "",
  //       codeShow: true,
  //       count: "",
  //       timer: null,
  //       isCode: true,
  //       mobileStatus: false,
  //       btnController: false,
  //       longitude: 0, // 经度
  //       latitude: 0, // 维度
  //       city: "", // 城市
  //       province: "", // 省
  //       accuracy: "", // 误差
  //       nowHref: "", // 当前路由
  //       city_id: "0", // 传给后台的城市编码
  //       name: "", // 当前城市名
  //       allCodeList: [], // 城市编码列表
  //       // 同时住了各地列表
  //       cityList: [],
  //       houseCount: "", // 相当于住了多少家
  //       // 左侧大图
  //       leftPic: {},
  //       // 右侧图片列表
  //       parkList: [],
  //       // 滚动地标列表
  //       interestList: [],
  //       // 渠道号
  //       channelCode: "",
  //       // 是否展示所有协议内容
  //       showContent: false,
  //       // 点击更多后隐藏更多按钮
  //       hideBtn: true,

  //       isSimple: false

  //   watch: {
  //     mobile(value) {
  //       if (!this.isSendCode) return;
  //       if (value.length === 11) {
  //         this.submitOrder();
  //         this.isSendCode = false;
  //       }
  //     },
  //   },
  //   created() {
  //     this.channelCode = this.$route.query.channelCode;
  //     // 获取定位
  //     // this.getPosition()
  //     // 新增园区
  //     this.getParkAreaList();
  //     // 首页埋点
  //     this.buriedPointFn();
  //   },
  //   mounted() {
  //     this.isSimple = this.$route.query.channelCode === "1002";
  //     var _this = this;
  //     window.addEventListener("scroll", function () {
  //       // var scrollTop =
  //       //  document.documentElement.scrollTop || document.body.scrollTop;
  //       // var h = document.documentElement.clientHeight;
  //       // console.log(
  //       //  "scrollTop",
  //       //  scrollTop,
  //       //  -_this.$refs.liBtn.offsetHeight,
  //       //  _this.$refs.liBtn.getBoundingClientRect().top
  //       // );
  //       if (
  //         _this.$refs.liBtn.getBoundingClientRect().top <
  //         -_this.$refs.liBtn.offsetHeight
  //       ) {
  //         _this.btnController = true;
  //       } else {
  //         _this.btnController = false;
  //       }
  //     });
  //   },
  //   methods: {

  //     // 点击在线客服
  //     goToShowChat() {
  //       window.location.href =
  //         "https://u-wanghaoyu.51ima.com/vChat?token=v6vU3i2UnAje&showChat=true&layout=true";
  //     },
  //     // 查看更多
  //     lookMore() {
  //       this.showContent = true;
  //       this.hideBtn = false;
  //     },
  //     /**
  //      *  表单提交
  //      */
  //     submitOrder() {
  //       if (this.username === "") {
  //         // this.$toast('请输入姓名')
  //         this.wrongName = true;
  //         this.mobileName = false;
  //         this.codeName = false;
  //         this.nameText = "请输入姓名";
  //         return;
  //       }
  //       var re = /^[\u4e00-\u9fa5]+$/;
  //       if (this.username.length < 2 || this.username.length > 10) {
  //         // this.$toast('请输入正确的姓名')
  //         this.wrongName = true;
  //         this.mobileName = false;
  //         this.codeName = false;
  //         this.nameText = "请输入正确的姓名";
  //         return;
  //       }
  //       if (!re.test(this.username)) {
  //         this.wrongName = true;
  //         this.mobileName = false;
  //         this.codeName = false;
  //         this.nameText = "请输入正确的姓名";
  //         // this.$toast('请输入正确的姓名')
  //         return;
  //       }
  //       if (this.username.indexOf(" ") !== -1) {
  //         this.wrongName = true;
  //         this.mobileName = false;
  //         this.codeName = false;
  //         this.nameText = "请输入正确的姓名";
  //         // this.$toast('请输入正确的姓名')
  //         return;
  //       }
  //       if (this.mobile === "") {
  //         this.wrongName = false;
  //         this.wrongCode = false;
  //         this.wrongMobile = true;
  //         this.mobileText = "请输入手机号";
  //         // this.$toast('请输入手机号')
  //         return;
  //       }
  //       var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
  //       if (!myreg.test(this.mobile)) {
  //         this.wrongName = false;
  //         this.wrongCode = false;
  //         this.wrongMobile = true;
  //         this.mobileText = "请输入正确的手机号";
  //         // this.$toast('请输入正确的手机号')
  //         return;
  //       }
  //       // if (!this.mobileStatus) {
  //       //   this.$toast('请先获取验证码')
  //       //   return
  //       // }
  //       if (this.code === "" && this.mobileStatus) {
  //         this.wrongCode = true;
  //         this.wrongName = false;
  //         this.wrongMobile = false;
  //         this.codeText = "请输入验证码";
  //         // this.$toast('请输入验证码')
  //         return;
  //       }
  //       // 验证手机
  //       if (this.mobileStatus) {
  //         this.wrongName = false;
  //         this.wrongMobile = false;
  //         this.wrongCode = false;
  //         api.question
  //           .validCheckCode({ mobile: this.mobile, checkCode: this.code })
  //           .then((res) => {
  //             if (res.success) {
  //               // 首页立即预约按钮点击埋点
  //               this.pointData.eventCode = "104";
  //               this.pointData.eventName = "首页立即预约按钮点击";
  //               this.pointData.userId = this.mobile;
  //               if (this.pointData.userId === "") {
  //                 delete this.pointData.userId;
  //               }
  //               this.pointData.ext = JSON.stringify({
  //                 name: this.username,
  //                 phonenum: this.mobile,
  //               });
  //               api.question.buriedPoint(this.pointData).then(() => {});
  //               api.question
  //                 .subAppoint({
  //                   phone: this.mobile,
  //                   userName: this.username,
  //                   channelCode: this.channelCode,
  //                   appointUrl: window.location.href,
  //                 })
  //                 .then((data) => {
  //                   if (data.ok) {
  //                     sessionStorage.setItem("name", this.username);
  //                     sessionStorage.setItem("mobile", this.mobile);
  //                     sessionStorage.setItem("orderId", data.data);
  //                     // this.pointData.orderId = data.data;
  //                     const url = `/question?${
  //                       window.location.href.split("?")[1]
  //                     }`;
  //                     this.$router.push(url);
  //                   } else {
  //                     this.$toast(data.mesage);
  //                   }
  //                 });
  //             } else {
  //               this.$toast(res.error.message);
  //             }
  //           });
  //       } else {
  //         const data = {
  //           phone: this.mobile,
  //           appointUrl: window.location.href,
  //         };
  //         api.question.checkMobileOrder(data).then((data) => {
  //           if (data.ok) {
  //             this.getCode();
  //           } else {
  //             if (data.code === 1000) {
  //               sessionStorage.setItem("name", this.username);
  //               sessionStorage.setItem("mobile", this.mobile);
  //               sessionStorage.setItem("orderId", data.data);
  //               // this.pointData.orderId = data.data;
  //               const url = `/question?${window.location.href.split("?")[1]}`;
  //               this.$router.push(url);
  //             } else {
  //               this.$toast(data.mesage);
  //             }
  //           }
  //         });
  //       }
  //     },
  //     /**
  //      *  底部按钮点击滚动到表单提交
  //      */
  //     jump() {
  //       /**
  //        *  表单提交
  //        */
  //       this.submitOrder();
  //       // 用 class="d_jump" 添加锚点
  //       const jump = document.querySelectorAll(".title");
  //       const total = jump[0].offsetTop - 140;
  //       let distance =
  //         document.documentElement.scrollTop || document.body.scrollTop;
  //       // 平滑滚动，时长500ms，每10ms一跳，共50跳
  //       let step = total / 10;
  //       if (total > distance) {
  //         smoothDown();
  //       } else {
  //         const newTotal = distance - total;
  //         step = newTotal / 10;
  //         smoothUp();
  //       }
  //       function smoothDown() {
  //         if (distance < total) {
  //           distance += step;
  //           document.body.scrollTop = distance;
  //           document.documentElement.scrollTop = distance;
  //           setTimeout(smoothDown, 10);
  //         } else {
  //           document.body.scrollTop = total;
  //           document.documentElement.scrollTop = total;
  //         }
  //       }
  //       function smoothUp() {
  //         if (distance > total) {
  //           distance -= step;
  //           document.body.scrollTop = distance;
  //           document.documentElement.scrollTop = distance;
  //           setTimeout(smoothUp, 10);
  //         } else {
  //           document.body.scrollTop = total;
  //           document.documentElement.scrollTop = total;
  //         }
  //       }
  //     },
  //     /**
  //      *  获取验证码
  //      */
  //     getCode() {
  //       if (this.mobile === null || this.mobile === "") {
  //         this.wrongName = false;
  //         this.wrongCode = false;
  //         this.wrongMobile = true;
  //         this.mobileText = "请输入手机号";
  //         // this.$toast("请输入手机号");
  //         return;
  //       }
  //       var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
  //       if (!myreg.test(this.mobile)) {
  //         this.wrongName = false;
  //         this.wrongCode = false;
  //         this.wrongMobile = true;
  //         this.mobileText = "请输入正确的手机号";
  //         // this.$toast("请输入正确的手机号");
  //         return false;
  //       }
  //       const _this = this;
  //       if (!this.isCode) return;
  //       this.isCode = false;
  //       api.question.sendCheckCode(this.mobile).then((res) => {
  //         if (res.success) {
  //           this.wrongName = false;
  //           this.wrongCode = false;
  //           this.wrongMobile = false;
  //           _this.active = true;
  //           const TIME_COUNT = 60;
  //           this.mobileStatus = true;
  //           // 发出验证码埋点
  //           this.pointData.eventCode = "102";
  //           this.pointData.eventName = "发出验证码";
  //           this.pointData.userId = this.mobile;
  //           this.pointData.ext = JSON.stringify({ status: 0 });
  //           api.question.buriedPoint(this.pointData).then(() => {});
  //           if (!_this.timer) {
  //             _this.count = TIME_COUNT;
  //             _this.codeShow = false;
  //             this.timer = setInterval(() => {
  //               if (_this.count > 0 && _this.count <= TIME_COUNT) {
  //                 _this.count--;
  //               } else {
  //                 // this.wrongName = false;
  //                 // this.wrongCode = false;
  //                 // this.wrongMobile = false;
  //                 _this.codeShow = true;
  //                 _this.isCode = true;
  //                 clearInterval(_this.timer);
  //                 _this.timer = null;
  //               }
  //             }, 1000);
  //           } else {
  //             // 发出验证码埋点
  //             this.pointData.eventCode = "102";
  //             this.pointData.eventName = "发出验证码";
  //             this.pointData.userId = this.mobile;
  //             this.pointData.ext = JSON.stringify({ status: 1 });
  //             api.question.buriedPoint(this.pointData).then(() => {});
  //             _this.$toast(res.error.message);
  //           }
  //         }
  //       });
  //     },
  //   },
};
</script>
<style lang="scss" scoped>
.header {
  background: url("https://zhonger-file.insurbank.cn/2022/02/14/150.jpg")
    no-repeat;
  width: 100%;
  height: 430px;
  background-size: 100%;
}
.form {
  width: 100%;
  .conent-wrap {
    background: rgba(235, 95, 0, 0.08);
    .content {
      width: 345px;
      background: #ffffff;
      border-radius: 16px;
      margin: 0 auto;
      margin-top: -50px;
    }
  }
  .cover-word {
    padding: 30px 22px 0px;
    .live-txt {
      padding: 12px 0 4px;
      font-size: 14px;
      font-weight: bold;
      color: #131415;
    }
  }
  //  城市名称列表
  .cover-city {
    width: 315px;
    padding: 0px 0px 8px;
    display: flex;
    color: #62676c;
    line-height: 20px;
    flex-wrap: wrap;
    font-weight: bold;
    .city-item {
      font-size: 13px;
    }
    .city-item:last-child .comma {
      opacity: 0;
    }
  }
  // 城市图片预览
  .cover-look {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 22px;
    .look-left {
      .left-img {
        width: 159px;
        height: 159px;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
    }
    .txt {
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      color: #62676c;
      padding-top: 4px;
    }
    .look-right {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-left: 7px;
      .right-item {
        .right-img {
          width: 66px;
          height: 66px;
          border-radius: 4px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
        }
      }
      .right-item:nth-child(2n + 1) {
        margin-right: 7px;
      }
    }
  }
  .title {
    padding: 20px 0 30px;

    .center {
      padding-top: 8px;
      height: 18px;
      text-align: center;
      font-size: 18px;
      color: #131415;
      font-weight: bold;
      img {
        width: 100%;
      }
      .red {
        font-size: 18px;
        color: #ff321c;
      }
    }
  }
  .ask-online {
    position: fixed;
    top: 386px;
    right: 0;
    z-index: 999;
    .img-link {
      width: 32px;
      height: 76px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  label {
    padding: 0 0 0 22px;
    //  float:left;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    width: 65px;
    img {
      width: 47px;
    }
  }
  .input {
    width: 280px;
    height: 44px;
    line-height: 44px;
    border: 1.5px solid #eef2f5;
    border-radius: 21px;
    margin: 0 auto 10px;
    font-weight: bold;
    color: #131415;
    padding-left: 25px;
    font-size: 16px;
  }
  input::-webkit-input-placeholder {
    font-weight: normal;
  }
  input::-moz-input-placeholder {
    font-weight: normal;
  }
  input::-ms-input-placeholder {
    font-weight: normal;
  }
  .active {
    width: 280px;
    height: 44px;
    border: 1.5px solid #ff4f00;
  }
  .wrong {
    display: block;
    font-size: 13px;
    color: #ff321c;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .username {
    //padding-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  .mobile {
    //padding-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  .code {
    //padding-bottom: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    span {
      text-align: center;
      position: absolute;
      right: 30px;
      top: 14px;
      width: 79px;
      height: 26px;
      line-height: 27px;
      font-size: 12px;
      .wrong {
        font-size: 13px;
        color: #ff321c;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
    .codeBtn,
    .codeBtn2 {
      width: 80px;
      height: 16px;
      line-height: 16px;
      border-left: 1px solid #eef2f5;
      font-size: 14px;
      color: #ff4f00;
    }
    .codeBtn {
      padding-left: 9px;
    }
    .codeBtn2 {
      margin-right: -10px;
    }
  }

  .btn-box {
    width: 100%;
  }
  .lj-Btn {
    width: 305px;
    height: 44px;
    line-height: 44px;
    background: #ff4f00;
    border-radius: 21px;
    color: #fff;
    font-weight: bold;
    margin: 10px auto 5px;
    input {
      background: none;
      width: 100%;
      font-size: 18px;
    }
  }
  .introduce {
    font-size: 12px;
    color: #000;
    padding: 24px 18px 14px;
    .cover-top {
      display: flex;
      .top-agree {
        font-size: 12px;
      }
      .click-more {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        .icon-more {
          position: relative;
          width: 10px;
          height: 7px;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
          }
        }
        .txt-more {
          font-size: 11px;
          color: #666666;
          padding-left: 4px;
        }
      }
    }
    a {
      font-size: 12px;
      color: #4774ff;
    }
    .cover-bottom {
      display: inline-block;
      font-size: 12px;
    }
  }
  .pic-box {
    width: 100%;
    overflow: hidden;
    padding-bottom: 60px;
    .pic1 {
      width: 375px;
      padding: 20px 15px 0;
      position: relative;
      background: rgba(235, 95, 0, 0.08);
      img {
        display: block;
        width: 286px;
        height: 44px;
        margin: 0 auto;
      }
      .pic1-content {
        width: 345px;
        background: #fff;
        margin-top: -24px;
        box-shadow: 0px 0px 8px 0px rgba(255, 218, 200, 0.6);
        border-radius: 16px 16px 0 0;
        .house-num {
          font-size: 18px;
          font-weight: 500;
          color: #ffffff;
          position: absolute;
          top: 18px;
          left: 46.5%;
        }
      }
    }
    .pic3 {
      width: 375px;
      height: 362px;
      background: url(../assets/p3.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic4 {
      width: 375px;
      height: 452px;
      background: url(../assets/p4.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic5 {
      width: 375px;
      height: 432px;
      background: url(../assets/p5.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic6 {
      width: 375px;
      height: 388px;
      background: url(../assets/p6.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic7 {
      width: 375px;
      height: 268px;
      background: url(../assets/p7.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic8 {
      width: 375px;
      height: 618px;
      background: url(../assets/p8.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic9 {
      width: 375px;
      height: 351px;
      background: url(../assets/p9.png) no-repeat;
      background-size: 100%;
      float: left;
    }
    .pic10 {
      width: 375px;
      height: 488px;
      background: url(../assets/p10.png) no-repeat;
      background-size: 100%;
      //padding-bottom: 68px;
      float: left;
    }
    .p2 {
      //width: 345px;
      //float: left;
      //height: 77px;
      .divBox {
        display: flex;
        width: 345px;
        //margin: 0 15px 0 0;
        overflow: hidden;
        background: #fff;
      }
      .img-interest {
        flex-shrink: 0;
        position: relative;
        .cover-img {
          width: 58px;
          height: 58px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.3);
          .txt {
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding-top: 19px;
          }
        }
      }
      .div {
        flex-shrink: 0;
        max-width: 345px;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
        padding: 8px 0;
        img {
          width: 58px;
          height: 58px;
          margin-right: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .ljyy-btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #ff4f00;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .copy-right {
    text-align: center;
    color: #666666;
    padding: 4px 20px 66px;
    .company-txt {
      a {
        text-decoration: none;
        color: #666666;
        font-size: 12px;
      }
    }
    .phone-num {
      font-size: 12px;
      text-align: center;
      color: #666666;
    }
    .company-txt:hover {
      cursor: pointer;
    }
  }
}
</style>
