@import "./help.scss";
@import "./animate.scss";
@import "./vant.scss";
// .learnOthersList, .articleList {
//   margin-bottom: 15px;
// }

.learnOthersList {
  margin-bottom: 15px;
}

.articleListFile {
  padding: 0 20px;
  background: #fff;
  .articleAndText {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(19, 20, 21, 0.03);
  }
}

.learnOthersTopicNotice {
  .van-notice-bar {
    padding-left: 10px;
  }
}

// 设置定位
.position {
  background: #f3f5f9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
}

// 展开全文样式
.publishArticle {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  // 话题与文章
  .publishTopicText {
    word-wrap: break-word;
    word-break: normal;
    text-align: justify;
    .publishTopicTextHidden {
      position: relative;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    span {
      margin-right: 5px;
    }
    .publishText {
      color: #131415;
    }
    .publishfullText {
      color: #177cb0;
    }
  }
}

.PDF,
.PPT,
.vedio {
  padding: 2px 8px 0;
  border-radius: 9px;
  font-size: 14px;
}
.text {
  display: none;
}
// PDF样式
.PDF {
  border: 1px solid #f13232;
  color: #f13232;
}

// PPT样式
.PPT {
  border: 1px solid #ffb20f;
  color: #ffae00;
}

// 视频样式
.vedio {
  border: 1px solid #37a1ee;
  color: #37a1ee;
}

// 知识库通用样式
.knowledgeBaseTabComPonents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f3f5f9;
  .articleListVideo {
    width: 50%;
    // margin-bottom: 15px;
  }
  .articleListVideoTop {
    margin-bottom: 15px;
  }
}

// 两行省略样式
.text-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

textarea::-webkit-input-placeholder {
  color: #b8b8b8;
}

// 按钮样式
.btn {
	width: 288px;
	height: 44px;
	line-height: 44px;
	background: #04C190;
	border-radius: 22px;
	margin: 0 auto;
	font-size: 17px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

img {
  object-fit: cover;
}

// 一级评论样式
.comment {
  background: #fff;
  padding: 25px 20px;
  // 列表
  .commentList {
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .commentListHead {
      display: flex;
      margin-bottom: 10px;
      // 头像
      .commentListAuthor {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      // 用户信息
      .commentListText {
        .commentListName {
          font-weight: 500;
        }
        .commentListTime {
          margin-left: 10px;
          font-size: 14px;
          color: #BEBEBE;
        }
      }
      // 回复
      .commentListReply {
        flex: 1;
        text-align: right;
        span {
          font-size: 14px;
          color: #BEBEBE;
        }
      }
    }
    // 评论内容
    .commentListContent {
      color: #333;
      margin-left: 34px;
    }
    // 底部按钮
    .commentListBtn {
      font-size: 14px;
      margin-top: 10px;
      margin-left: 34px;
      color: #00B578;
      background: rgba(0, 181, 120, 0.08);
      border-radius: 12px;
      display: inline-block;
      padding: 3px 10px;
      .van-icon, span {
        vertical-align: middle;
      }
    }
  }
  // 回复的输入框
  .secondaryReplyMsg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    span {
      background: #00b578;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      color: #fff;
      padding: 0 17px;
    }
    .secondaryReplyMsgInp {
      background: #f3f5f9;
      border: none;
      height: 40px;
      border-radius: 20px;
      padding: 0 15px;
      flex: 1;
      margin-right: 10px;
    }
  }
}

// 头部
.commentHead {
  display: flex;
  margin-bottom: 20px;
  padding: 0 20px 0;
  // 评论与下划线
  .commentText {
    font-size: 18px;
    position: relative;
    .commentLine {
      background: rgba(20, 27, 25, 0.5);
      height: 6px;
      border-radius: 3px;
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  // 数量
  .commentNumber {
    margin-left: 10px;
    font-weight: unset;
    margin-top: 3px;
    span {
      color: #666;
      font-size: 14px;
    }
  }
}




