.community .van-picker__toolbar ,.gain .van-picker__toolbar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    bottom: 14px;
    z-index: 999;
    justify-content: space-around !important;
}

.community .van-picker__cancel ,.gain .van-picker__cancel{
    width: 120px;
    height: 40px;
    background: #F3F5F9 !important;
    border-radius: 20px;
    color: rgba(19, 20, 21, 0.8);
}
.community .van-picker-column ,.gain .van-picker-column{
  height: 220px;

}
.community .van-picker__confirm,.gain .van-picker__confirm{
    width: 120px;
    height: 40px;
    background: #00B578;
    border-radius: 20px;
    color: #ffffff;
}

.van-sticky--fixed {
  z-index: 2;
}
.personal-collect .delete-button {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin: 14px 12px;
}
.personal-collect .van-swipe-cell__left, .van-swipe-cell__right {
  position: absolute;
  top: 25%;
  height: 100%;
}
.personal-collect .van-icon{
  position: absolute;
  top: 24px;
  right: 22px;
  color: #fff;
  z-index: 10;
}
.honor-item .van-icon{
  position: absolute;
  top: 16px;
  right: 16px;
}
// 前面加 personal-address 都是在新增收货地址页面
.personal-address .van-checkbox__icon--checked .van-icon{
  background: rgb(0, 181, 120);
  border: 1px solid rgb(0, 181, 120);
}
.personal-address .van-field__word-limit{
  display: none;
}
.personal-address .van-field {
  // height: 60px;
  // line-height: 60px;
  font-size: 16px;
}
 .personal-address .van-cell::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 0.42667rem;
  bottom: 0;
  left: 0;
  border-bottom: 0.02667rem solid #ebedf0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.personal-address .van-button--round {
  font-size: 17px;
  border-radius: 40px;
  background: rgba(0, 181, 120, 0.3);
  border: 0;
  font-weight: bold;
}

.personal-address .addressBtn .van-button--round {
  background: rgba(0, 181, 120, 1);
}
.personal-address .van-switch , .van-switch--on{
  width: 60px;
  height: 24px;
  margin: 0 15px;
  border:0;
}
.personal-address .van-switch .van-switch__node {
  width: 22px;
  height: 22px;
  margin-top: 1px;
  transform: translateX(1px);
}
.personal-address .van-cell{
  padding-left: 0;
}
.personal-address .van-switch--on .van-switch__node {
  width: 22px;
  height: 22px;
  transform: translateX(37px);
}
.personal-address .van-checkbox {
  height: 60px;
}
.attention .van-icon{
  top: 0px;
  right: 4px;
}
// 修改遮罩层层级
.van-overlay{
  z-index: 4;
}
// 我的矿石页tab切换部分下划线
.gain .van-tabs .van-tabs--line{
padding: 0 20px;
}
.gain .van-tabs__wrap{
  border-bottom: 0.5px solid rgba(19, 20, 21, 0.08);
}
.gain-cover .van-tabs{
  padding: 0 20px;
}
// 邀请记录边框线
.invitation .van-tabs__wrap{
  border-bottom: 1px solid #ebedf0;
}
.invitation .van-tabs__content{
  padding-top: 92px !important;
  border-top: 1px solid #ebedf0 !important;
}
// 我的荣誉tab固定定位
.honor .van-tabs__content{
  margin-top: 44px;
}
.honor .van-tabs--line .van-tabs__wrap {
  height: 1.17333rem;
  position: fixed;
  width: 100%;
  top: 74px;
  left: 0;
  z-index: 100;
}
// 我的发布 tab 固定定位
.issue .van-tabs--line .van-tabs__wrap {
  height: 1.17333rem;
  position: fixed;
  width: 100%;
  top: 74px;
  left: 0;
  z-index: 100;
}
.issue .van-tabs__content{
  margin-top: 44px;
}
// 挑战赛
.rankingList .van-tabs--line .van-tabs__wrap {
  height: 1.17333rem;
  position: fixed;
  width: 100%;
  top: 74px;
  left: 0;
  z-index: 100;
}
.articleVideo .van-list__finished-text {
  flex: 1
}
.personal-address .van-radio__icon--disabled.van-radio__icon--checked .van-icon {
  background: #00B578;
  border-color: #00B578;
  color: #fff;
}
// 兑换提现额度详情
.gainmoneyDetails .van-stepper--round .van-stepper__minus{
  border: 1px solid #04C190;
  color: #04C190;
}
.gainmoneyDetails .van-stepper{
  font-weight: bold;
  font-size: 20px;
}
.gainmoneyDetails .van-stepper--round .van-stepper__plus--disabled:active {
  opacity: 1;
}
.gainmoneyDetails .van-stepper--round .van-stepper__plus{
  background: #04C190;
  color: #fff;
}
.gainmoneyDetails .van-button--primary {
  background: #04C190;
  border: 1px solid #04C190;
}
.assist-agent {
  .ask-list-wrapper {
    .call-list {
      .van-list__finished-text {
        background: #F3F5F9;
      }
    }
  }
}
.toasty {
  top: 30%;
}
// 收货地址省级联动  
.personal-address .van-picker__toolbar{
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  padding-bottom: 15px;
  justify-content: space-around !important;
}
.personal-address .van-picker__cancel{
  width: 120px;
  height: 40px;
  background: #F3F5F9 !important;
  border-radius: 20px;
  color: rgba(19, 20, 21, 0.8);
}
.personal-address .van-picker__confirm{
  width: 120px;
  height: 40px;
  background: #00B578;
  border-radius: 20px;
  color: #ffffff;
}
.personal-address .van-popup--bottom {
  border-radius: 12px 12px 0px 0px;
}
.van-dialog__message{
  font-size: 17px;
}
.van-dialog__header--isolated{
  padding: 0.64rem 10px;
}
.personal-address .van-icon-success{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  transform: scale(1);
}
.specialist-main .van-sticky--fixed{
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    padding-top: 30px;
    background: #fff;
  }
  .van-dialog__header {
    font-size: 17px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #353535;
    line-height: 26px;
  }
  .van-dialog__message {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #353535;
    line-height: 22px;
  }

.invitation {
  .van-list__error-text, .van-list__finished-text, .van-list__loading{
    background: #f3f5f9;
  }
}


.experienceDetails {
  .van-loading {
    background: #fff;
  }
}
.learnOthers {
  .van-loading {
    height: 100px;
  }
}
.van-image-preview__index {
  top: 30px;
}