<template>
  <!--
    暂时废弃
  -->
  <div class="main" />
</template>
<script>
export default {
  components: {

  },
  props: {

  },
  data() {
    return {

    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    // this.$nextTick(function () {
    //   this.queryLabelsAndTopics()
    // })
  },
  methods: {

  }
}

</script>
<style lang='scss' scoped>

</style>
