<template>
  我是一个测试子组件
  <button @click="menuClick">子组件给父组件传值</button>
</template>
<script>
import { defineComponent, ref } from "vue";

export default {
  name: "Child",
  props: {
    listMenu: {
      // 菜单数据
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  setup(props, context) {
    const listMenu = props.listMenu;
    //console.log("listMenu", listMenu[0]);

    const menuClick = () => {
      context.emit("menuClick", "传值");
    };
    return {
      listMenu,
      menuClick,
    };
  },
};
</script>
