<template>
  <div class="question-wrap">
    <div class="ask">
      <img class="no" :src="questionData[questionIndex].noImg" alt="" />
      <span class="text" v-html="questionData[questionIndex].ask" />
    </div>
    <template v-if="questionData[questionIndex].type === 'normal'">
      <div class="answer">
        <div
          v-for="(val, idx) in questionData[questionIndex].answer"
          :key="idx"
          :class="chooseIndex === idx ? 'active' : 'choose'"
          @click="handleChoose(idx, val)"
        >
          {{ val }}
        </div>
      </div>
    </template>
    <!--年龄-->
    <template v-if="questionData[questionIndex].type === 'age'">
      <div class="age-input">
        <span class="input" :class="light === 0 ? 'active' : 'decade'">{{
          decade
        }}</span>
        <span
          class="input"
          :class="
            light === 0
              ? typeof unit !== 'string'
                ? 'active'
                : 'unit-light'
              : 'unit'
          "
          >{{ unit }}</span
        >
        <span class="text">周岁</span>
      </div>
      <div class="age-remind">请选择您的年龄</div>
      <div
        v-for="(val, idx) in questionData[questionIndex].answer"
        :key="idx"
        class="age-answer"
      >
        <div
          v-for="(item, i) in val"
          :key="i"
          :class="chooseIndex === item ? 'active' : 'choose'"
          @click="handleAge(idx, item)"
        >
          {{ item }}
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import no1 from "../../assets/no1.png";
import no2 from "../../assets/no2.png";
import no3 from "../../assets/no3.png";
import no4 from "../../assets/no4.png";
import no5 from "../../assets/no5.png";
export default {
  name: "Question",
  components: {},
  props: {
    // next: {
    //   type: Boolean,
    //   default: false
    // },
    network: {
      type: Boolean,
      default: true
    },
    questionIndex: {
      // 问题索引
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      flag: true, // 是否可以选择答案标记
      light: -1, // 个位/十位高亮标记
      decade: "4", // 十位
      unit: "5", // 个位
      chooseIndex: -1, // 选中的索引
      questionData: [
        {
          ask: "请问您的性别是？",
          answer: ["先生", "女士"],
          noImg: no1,
          type: "normal"
        },
        // { ask: '请问您的年龄是？', answer: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]], noImg: no2, type: 'age' },
        {
          ask: "请问您的年龄是？",
          answer: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [0]],
          noImg: no2,
          type: "age"
        },
        {
          ask:
            '购买<span style="color:#FF4F00;">年交20万</span>起，<span style="color:#FF4F00;">共交10年</span>的养老年金，这笔养老年金每年产生的收益，可以为您养老提供稳定的现金，还可以提前为<span style="color:#FF4F00;">您和爱人，及双方父母锁定</span>泰康之家养老社区<span style="color:#FF4F00;">入住资格</span>。这个两全的方案您感兴趣吗？',
          answer: ["无压力，有兴趣了解", "略有压力，但有兴趣了解", "其他"],
          noImg: no3,
          type: "normal"
        },
        {
          ask:
            '泰康之家养老社区3大优势：<span style="color:#FF4F00;">5星级酒店标准</span>+<span style="color:#FF4F00;">适老化设计</span>+<span style="color:#FF4F00;">医疗融合</span>，让老人足不出户就可以在社区就医，下面<span style="color:#FF4F00;">哪个户型最适合您？</span>',
          answer: [
            "1居室（约1万元/月）",
            "舒适1室1厅（约1.5万元/月）",
            "高档1室1厅（约2万元/月）",
            "高档2居室（约3万元/月）",
            "以上价格均超出我的预算"
          ],
          noImg: no4,
          type: "normal"
        },
        {
          ask: "您什么时间段方便接听电话？",
          answer: [
            "上午 09:00～12:00",
            "中午 12:00～15:00",
            "下午 15:00～18:00",
            "晚上 18:00～21:00",
            "以上时间段都可以"
          ],
          noImg: no5,
          type: "normal"
        }
      ]
    };
  },
  created() {},

  mounted() {},

  activated() {},
  watch: {
    network(newVal) {
      if (!newVal && this.questionIndex !== this.questionData.length - 1) {
        this.flag = true; // 是否可以选择答案标记
        this.light = -1; // 个位/十位高亮标记
        this.decade = "4"; // 十位
        this.unit = "5"; // 个位
      }
    }
    // next(newVal) {
    //   if (newVal && this.questionIndex !== this.questionData.length - 1) {
    //     this.questionIndex += 1;
    //   }
    // }
  },
  methods: {
    // 选择答案
    handleChoose(idx, item) {
      if (!this.flag) return;
      this.flag = false;
      this.chooseIndex = idx;
      setTimeout(() => {
        this.$emit("end", false, true, this.questionIndex, idx, item); // 最后一题标记, 是否展示底部半圆图片标记,题号，选择答案的索引,答案内容
        this.chooseIndex = -1;
        this.flag = true;
      }, 500);
    },
    // 选择年龄
    handleAge(idx, item) {
      if (!this.flag) return;
      this.flag = false;
      if (this.decade === "4") {
        // 选择十位
        // 高亮在个位
        this.decade = item;
        this.light = 0;
        setTimeout(() => {
          this.chooseIndex = -1;
        }, 500);
        this.flag = true;
      } else {
        // 选择个位
        this.unit = item;
        setTimeout(() => {
          // 跳转下一题
          // this.questionIndex += 1;
          this.chooseIndex = -1;
          this.$emit(
            "end",
            false,
            true,
            this.questionIndex,
            idx,
            `${this.decade}${this.unit}`
          ); // 最后一题标记, 是否展示底部半圆图片标记,题号，选择答案的索引,答案内容
          this.flag = true;
        }, 500);
      }
      this.chooseIndex = item;
    }
  }
};
</script>
<style lang="scss" scoped>
.question-wrap {
  position: relative;
  width: 345px;
  background: #ffffff;
  margin: 0 auto 42px;
  border-radius: 0 0 22px 22px;
  z-index: 100;
  .ask {
    display: flex;
    margin-bottom: 48px;
    img {
      flex-shrink: 0;
    }
    .no {
      display: inline-block;
      width: 30px;
      height: 26px;
      margin: 32px 5px 0 15px;
    }
    .text {
      display: inline-block;
      padding-right: 15px;
      margin-top: 36px;
      font-size: 16px;
      color: #000000;
    }
  }
  .age-remind {
    color: #c67b50;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 16px 26px;
  }
  .age-input {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    .input {
      width: 36px;
      height: 48px;
      border-radius: 8px;
      font-size: 32px;
      color: #c67b50;
      font-weight: bold;
      margin-right: 16px;
      line-height: 50px;
      text-align: center;
    }
    .decade {
      border: 1.5px solid #ff4f00;
      background: #ffffff;
    }
    .active {
      width: 40px;
      height: 52px;
      line-height: 52px;
      border: 0;
      background: #fdf2ea;
      color: #000000;
    }
    .unit {
      width: 40px;
      height: 52px;
      background: url(../../assets/unit.png) no-repeat;
      background-size: 100% 100%;
      border: 0;
    }
    .unit-light {
      width: 36px;
      height: 48px;
      border: 1.5px solid #ff4f00;
      background: #ffffff;
    }
    .unit {
      //个位默认
      width: 40px;
      height: 52px;
      color: #c67b50;
      background: #fdf2ea;
    }
    .text {
      display: inline-block;
      height: 52px;
      line-height: 52px;
      font-size: 16px;
      color: #000000;
    }
  }
  .age-answer:last-child {
    padding-bottom: 22px;
  }
  .age-answer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    //justify-content: space-between;
    padding: 0 26px;
    div {
      width: 52px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #ff4f00;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      border: 1.5px solid #ff4f00;
      margin-bottom: 16px;
      margin-right: 24px;
    }
    .active {
      background: #ff4f00;
      color: #ffffff;
    }
  }
  .answer {
    padding-bottom: 48px;
    border-radius: 16px;
    .active {
      background: #ff4f00;
      color: #ffffff;
    }
    div {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #ff4f00;
      height: 42px;
      line-height: 42px;
      margin: 0 25px 24px;
      border-radius: 22px;
      border: 1.5px solid #ff4f00;
    }
    div:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
